@font-face { font-family: BlenderProBold; src: url('/font/BlenderPro-Bold.ttf'); } 
@font-face { font-family: BlenderProMedium; src: url('/font/BlenderPro-Medium.ttf'); } 
h1 {
  font-family: BlenderProBold;
  text-align: center;
}
h3 {
  font-family: BlenderProBold;
  text-align: center;
}
p {
  padding: 8px;
  margin: 25px;
  font-family: BlenderProMedium;
}
.iframe_container {
  justify-content: center;
  width:  1190px;
  height:  669px;
  overflow:  auto;
}
