@font-face { font-family: BlenderProBold; src: url('/font/BlenderPro-Bold.ttf'); } 
@font-face { font-family: BlenderProMedium; src: url('/font/BlenderPro-Medium.ttf'); } 
h1 {
  font-family: BlenderProBold;
  text-align: center;
}
h2 {
  font-family: BlenderProBold;
  text-align: center;
}
p {
  padding: 8px;
  margin: 25px;
  font-family: BlenderProMedium;
}
.iframe_container {
  text-align: center;
  width:  300px;
  height:  200px;
  overflow:  auto;
}
