@media (prefers-color-scheme:light) {
html, body {
    background-color: #ffffff;
    --bordercolor: #ebeef0;
    --tweet-primary-color: #000000;
    --tweet-secondary-color: #5b7083;
    --tweet-tertiary-color: #c4cfd6;
    --twitterblue: #1DA1F2;
}
}

@media (prefers-color-scheme:dark) {
html, body {
    background-color: #15202b;
    --bordercolor: #38444d;
    --tweet-primary-color: #ffffff;
    --tweet-secondary-color: #8899a6;
    --tweet-tertiary-color: #38444d;
    --twitterblue: #1DA1F2;
}
}
h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0 6px;
}
.container-sm {
    margin-top: 1rem;
}
button {
    background-color: var(--tweet-tertiary-color);
    color: var(--tweet-primary-color);
    border: none;
    padding: .5em 1em;
    border-radius: 500px;
    font-weight: bold;
    font-size: 1.25em;
    cursor: pointer;
    transition: box-shadow 0.15s;
    vertical-align: top;
}
.donebutton {
    background-color: var(--twitterblue);
    color: white;
}
button:hover {
    box-shadow: 5px 5px 10px #00000015;
}
h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 6px;
}

.instructions .fake-edit-border {
    border: 2px dashed var(--bordercolor);
    padding: 3px;
}

.instructions li {
    line-height: calc(1.1em + 10px);
}

.instructions svg {
    height: 1em;
}

.editor-container {
    max-width: 600px;
    margin: 1rem auto;
}
@media (orientation: portrait) {
    .editor {
        border-style: none;
    }
}
.editor {
    border: 2px solid var(--bordercolor);
}

.toolbar {
    padding: 12px;
}

.toolbar .loading {
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
}

.spinner {
    -webkit-animation: fa-spin 1.25s linear infinite;
    animation: fa-spin 1.25s linear infinite;
}

.toolbar .formLabel {
    font-weight: bold;
    display: block;
}

.toolbar .toolbarSelect {
    font-weight: 500;
    display: block;
    margin-bottom: 0.3em;
}

#fontSelect {
    font-weight: normal;
}

.toolbar .toolbarButtons {
    text-align: center;
    margin: 10px auto 0;
}

.toolbarButtons button {
    font-weight: 500;
    font-size: 1.15em;
}

.toolbarButtons svg {
    height: 1.15em;
}

.version {
    text-align: right;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.bottom-margin-75 {
    margin-bottom: 0.75em;
}

.modal-title {
    font-weight: bold;
}

.modal-body button {
    margin-top: 0.75em;
}

.modal-body img {
    max-width: 100%;
    margin-bottom: 1em;
}

.modalForm .container-fluid {
    padding: 0;
}

.modalForm label {
    display: block;
}

.modalForm label, .modal-footer button {
    font-weight: 600;
}

.modalForm small {
    display: block;
    font-size: 0.8rem;
    line-height: 1.25;
}

.modalForm .inputinfo {
    color: #6d757d;
}

.error {
    color: red;
}

.placeholder {
    font-style: italic;
}