@font-face { font-family: CourierPrime; src: url('/font/Courier Prime.ttf'); } 
@media (orientation: landscape) {
  :root {
    --sidespacing: 15vw;
    --posterwidth: 250px;
    --posterheight: 333px;
    --postergap: 1.5em;
    --backgroundsize: cover;
  }
  .persistentheader {
    box-shadow: 0px 0px 1.5em var(--shadowcolor);
  }
}
@media (orientation: portrait) {
  :root {
    --sidespacing: 5vw;
    --posterwidth: 500px;
    --posterheight: 666px;
    --postergap: 3em;
    --backgroundsize: 50vw;
  }
  .persistentheader {
    box-shadow: none;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --headercolor: #92140C;
    --pagecolor: #f5f4f1;
    --textcolor: #dfd2cc;
    --buttoncolor: #a5180e;
    --buttoncolorhover: #a02b23;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --headercolor: #5c0200;
    --pagecolor: #2f2c2c;
    --textcolor: #da925f;
    --buttoncolor: #5f0201;
    --buttoncolorhover: #5a0200;
  }
}
@media (orientation: landscape) and (prefers-color-scheme: light) {
  :root {
    --backgroundimage: url(/img/backgroundcinemalight.png);
  }
}
@media (orientation: landscape) and (prefers-color-scheme: dark) {
  :root {
    --backgroundimage: url(/img/backgroundcinemadark.png);
  }
}
@media (orientation: portrait) and (prefers-color-scheme: light) {
  :root {
    --backgroundimage: url(/img/backgroundcinemalightportrait.png);
  }
}
@media (orientation: portrait) and (prefers-color-scheme: dark) {
  :root {
    --backgroundimage: url(/img/backgroundcinemadarkportrait.png);
  }
}
:root {
  --shadowcolor: #0000005f;
}
html {
  color: var(--textcolor);
  background-attachment: fixed;
}
.headerihardlyeven {
  left: 0;
}
.persistentheader {
  background-color: var(--headercolor);
  margin: 0;
  width: 100vw;
}
.cinematitle {
  display: flex;
  justify-content: center;
  margin: 0 var(--sidespacing);
  margin-top: 10vh;
  aspect-ratio: 16/9;
  width: auto;
  height: auto;
  max-height: 75vh;
}
.cinematitle img {
  width: 100%;
}
h1 {
  color: var(--textcolor);
}
.watchlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  column-gap: var(--postergap);
  row-gap: var(--postergap);
  margin: 0 var(--sidespacing);
}
.poster {
  display: block;
  width: var(--posterwidth);
  height: var(--posterheight);
  background-color: var(--headercolor);
  box-shadow: 0px 0px 1.5em var(--shadowcolor);
}
.poster img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.new {
  box-shadow: 0px 0px 0.5em #e9c43f;
}