@font-face { font-family: CourierPrime; src: url('/font/Courier Prime.ttf'); } 
@media (orientation: landscape) {
  :root {
    --sidespacing: 15vw;
    --backgroundsize: 100vw;
  }
}
@media (orientation: portrait) {
  :root {
    --sidespacing: 5vw;
    --backgroundsize: 100vh;
  }
}
@media (prefers-color-scheme:light) {
  :root {
    --backgroundimage: url(/img/backgroundcinemalight.png);
    --headercolor: #9e2017;
    --pagecolor: #f5f1f1;
    --textcolor: black;
    --buttoncolor: #a82218;
    --buttoncolorhover: #b73229;
  }
}
@media (prefers-color-scheme:dark) {
  :root {
    --backgroundimage: url(/img/backgroundcinemadark.png);
    --headercolor: #820401;
    --pagecolor: #2f2c2c;
    --textcolor: #f8f8dc;
    --buttoncolor: #8f0604;
    --buttoncolorhover: #9c0806;
  }
}
:root {
  --shadowcolor: #0000005f;
}
html {
  color: var(--textcolor);
}
.headerihardlyeven {
  left: 0;
}
.persistentheader {
  background-color: var(--headercolor);
  margin: 0;
  width: 100vw;
}
.cinematitle {
  display: flex;
  justify-content: center;
  background-color: aqua;
  width: 40vw;
  height: 50vh;
}
h1 {
  color: var(--textcolor);
}
.watchlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  column-gap: 15px;
  row-gap: 15px;
  margin: 0 var(--sidespacing);
}
.poster {
  display: block;
  width: 250px;
  height: 333px;
  background-color: teal;
}