@font-face { font-family: BlenderProBold; src: url('/font/BlenderPro-Bold.ttf'); } 
@font-face { font-family: BlenderProMedium; src: url('/font/BlenderPro-Medium.ttf'); } 
@font-face { font-family: CourierPrime; src: url('/font/Courier Prime.ttf'); } 
@media (orientation: landscape) {
  :root {
    --textregular: 1.25em;
    --textbutton: 1em;
    --linkunderline: none;
  }
}
@media (orientation: portrait) {
  :root {
    --textregular: 2.5em;
    --textbutton: 2em;
    --linkunderline: underline;
  }
}
html {
  scroll-behavior: smooth;
  font-family: CourierPrime, Courier;
}
.headerihardlyeven {
  position: fixed;
  top: 0;
  width: 100%;
}
.persistentheader {
  background-color: var(--pagecolor);
  height: auto;
  margin-left: var(--sidespacing);
  margin-right: calc(var(--sidespacing) + 1rem);
  padding: .5em;
  z-index: 100;
}
body {
  image-rendering: pixelated;
  background-image: var(--backgroundimage);
  background-position: 50%;
  background-attachment: fixed;
  background-size: var(--backgroundsize);
  color: var(--textcolor);
}
ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}
li {
  display: inline;
}
li a {
  padding: 20px;
  text-align: center;
  font-weight: normal;
  font-size: var(--textregular);
  text-decoration: none;
  text-decoration: var(--linkunderline);
  color: var(--textcolor);
  cursor: pointer;
}
li a:hover {
  text-decoration: underline;
}
p a {
  text-decoration: none;
  text-decoration: var(--linkunderline);
  color: var(--textcolor);
  cursor: pointer;
}
p a:hover {
  text-decoration: underline;
}
p .stealth {
  text-decoration: none;
  cursor: default;
}
p .stealth:hover {
  text-decoration: none;
}
button {
  border: none;
  font-family: CourierPrime, Courier;
  color: var(--textcolor);
  background-color: var(--buttoncolor);
  text-align: center;
  text-decoration: none;
  font-size: var(--textbutton);
  cursor: pointer;
}
.buttonmedium {
  padding: 15px 32px;
  margin-top: 15pt;
  display: inline-block;
  border-radius: 15px;
}
button:hover {
  transition: .3s;
  background-color: var(--buttoncolorhover);
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.youtube_embed {
  width: 75%;
  aspect-ratio: 16/9;
}
.pg1 {
  height: 100vh;
  width: auto;
}
.pg2 {
  height: auto;
  width: auto;
}
.popup {
  position: fixed;
  padding: var(--textregular);
  left: 2em;
  bottom: 2em;
  border-radius: 1em;
  background-color: var(--pagecolor);
  box-shadow: 0px 0px 1.5em var(--shadowcolor);
}
.popup p {
  padding: 0;
  font-size: var(--textregular);
}
.xbutton {
  position: absolute;
  text-align: center;
  font-size: var(--textregular);
  padding: 0;
  margin: 0;
  top: -0.5em;
  left: -0.5em;
  height: 1.75em;
  width: 1.75em;
  border-radius: 50%;
  box-shadow: 0px 0px 1em var(--shadowcolor);
}
footer {
  height: auto;
  margin-bottom: 10vh;
}