@font-face {
  font-family: 'Lusitana';
  src: url(/font/Lusitana-Regular.ttf); 
  font-weight: normal;
}
@font-face {
  font-family: 'Lusitana';
  src: url(/font/Lusitana-Bold.ttf); 
  font-weight: bold;
}
/* :root {
  --backgroundcolor: #000000;
  --textcolor: #ffffff;
  --linktextcolor: #94c1f3;
} */
@media (prefers-color-scheme:light) {
  :root {
    --backgroundcolor: #f1fcfe;
    --textcolor: #1f0231;
    --textcolor2: #1f0231;
    --textshadow: #aa5fe080;
    --linktextcolor: #2e6099;
    --transparentcolor: #a9b4b680;
    --buttonhovercolor: #677173;
  }
  .dark {
    display: none !important;
  }
}
@media (prefers-color-scheme:dark) {
  :root {
    --backgroundcolor: #1b012a;
    --textcolor: #ffe3ff;
    --textcolor2: #ffe3ff;
    --textshadow: #67119580;
    --linktextcolor: #94c1f3;
    --transparentcolor: #6d6d6d80;
    --buttonhovercolor: #808080;
  }
  .light {
    display: none !important;
  }
}
@media (orientation:landscape) {
  :root {
    --sidemargin: 20vw;
    --titlewidth: 30vw;
    --textsize: 1.25rem;
    --textsmall: 1rem;
    --titlesize1: 2rem;
    --titlesize2: 1.5rem;
  }
  nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 2em;
    z-index: 100;
  }
  nav ul {
    display: flex;
    align-items: center;
    padding: 1em 2em 0.5em 1em;
    gap: 1em;
  }
  .mobile {
    display: none !important;
  }
  .half-side {
    width: 50%;
  }
  .reversed {
    flex-direction: row-reverse;
  }
  .reversed * {
    text-align: right;
  }
  .two-side {
    flex-wrap: nowrap;
  }
  .footer-image {
    width: fit-content;
  }
}
@media (orientation:portrait) {
  :root {
    --sidemargin: 5vw;
    --titlewidth: 50vw;
    --textsize: 1rem;
    --textsmall: 0.75rem;
    --titlesize1: 1.5rem;
    --titlesize2: 1.25rem;
  }
  nav {
    position: fixed;
    display: none;
    top: 3.5em;
    right: 0;
    z-index: 100;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: end;
    padding: 1em;
  }
  .desktop {
    display: none !important;
  }
  .half-side {
    width: 100%;
  }
  .two-side {
    flex-wrap: wrap;
  }
  .badges-box {
    justify-content: center;
  }
  .footer-image {
    width: 100%;
  }
}
html {
  scroll-behavior: smooth;
  background-color: var(--backgroundcolor);
  color: var(--textcolor);
  overflow-x: hidden;
}
body {
  margin: 0;
}
nav ul li {
  all: unset;
  font-family: 'Lusitana', 'Times New Roman', Times, serif;
}
nav ul li a {
  color: var(--textcolor);
  padding: 0.5em 1em;
  background: var(--backgroundcolor);
  border: 2px solid var(--textcolor);
  border-radius: 2em;
}
nav ul li a:hover {
  text-decoration: none;
  color: var(--backgroundcolor);
  background: var(--textcolor);
}
svg {
  fill: var(--textcolor);
}
#nav-button {
  position: fixed;
  width: 2em;
  height: 2em;
  top: 1em;
  right: 1em;
}
h1 {
  font-family: 'Lusitana', 'Times New Roman', Times, serif;
  font-size: var(--titlesize1);
  text-shadow: 1px 1px 0 var(--textshadow);
}
h2 {
  padding: 0 0.5rem;
  font-family: 'Lusitana', 'Times New Roman', Times, serif;
  font-size: var(--titlesize2);
  color: var(--textcolor2);
  text-shadow: 1px 1px 0 var(--textshadow);
  border-bottom: 2px solid var(--textcolor);
}
h3 {
  padding: 0 0.5rem;
  font-family: 'Lusitana', 'Times New Roman', Times, serif;
  font-size: var(--titlesize2);
  color: var(--textcolor);
  border-bottom: 2px solid var(--textcolor);
  text-shadow: 1px 1px 0 var(--textshadow);
}
.text-area {
  margin: 0 var(--sidemargin);
  text-wrap: pretty;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.full {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fullscreen {
  height: 100vh;
  width: 100vw;
}
p {
  font-size: var(--textsize);
  font-family: 'Lusitana', 'Times New Roman', Times, serif;
  margin: 0.5rem;
  text-shadow: 1px 1px 0 var(--textshadow);
}
a {
  text-decoration: none;
  color: var(--linktextcolor);
  text-shadow: 1px 1px 0px var(--linkshadow);
}
a:hover {
  text-decoration: underline;
}
ul {
  font-size: var(--textsize);
  font-family: 'Lusitana', 'Times New Roman', Times, serif;
  text-shadow: 1px 1px 0 var(--textshadow);
}
label {
  font-size: var(--textsize);
  font-family: 'Lusitana', 'Times New Roman', Times, serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.1em 0.5em;
  border: 2px solid var(--backgroundcolor);
}
select {
  all: unset;
  display: none;
  font-size: var(--textsize);
  font-family: 'Lusitana', 'Times New Roman', Times, serif;
  color: var(--backgroundcolor);
  background: var(--textcolor);
  padding: 0.1em 0.5em;
}
button {
  all: unset;
  font-size: var(--textsize);
  font-family: 'Lusitana', 'Times New Roman', Times, serif;
  background: var(--textcolor);
  color: var(--backgroundcolor);
  padding: 0.1em 0.5em;
}
button:disabled {
  background: var(--transparentcolor);
}
button:hover {
  background: var(--buttonhovercolor);
}
.two-side {
  display: flex;
}
.half-side img {
  width: 90%;
  object-fit: contain;
}
.column {
  display: flex;
  flex-direction: column;
}
footer {
  display: flex;
  flex-wrap: wrap;
  min-height: 4em;
  margin: 1em var(--sidemargin);
  padding-top: 1em;
  gap: 1em;
  border-top: 2px solid var(--transparentcolor);
  justify-content: center;
  align-items: start;
}
footer div {
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: center;
}
footer * p, footer * a {
  font-size: var(--textsmall);
  color: var(--textcolor);
  margin: 0.125em 0;
}
.micro-bar {
  image-rendering: pixelated;
  width: 132px;
  height: 46.5px;
}
.badges-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin: 1em inherit;
}
#title {
  height: 15vh;
  align-items: end;
  margin-top: 3em;
}
#title h1 {
  border-bottom: 2px solid var(--textcolor);
  text-align: center;
  padding-bottom: 0.5em;
  width: var(--titlewidth);
}
#labels {
  gap: 1em;
  align-items: end;
}
.input-grid {
  width: 100%;
  display: flex;
}
#inputs, #inputs div {
  display: flex;
  gap: 1em 0.25em;
  text-align: left;
  overflow: hidden;
}
#inputs * button {
  flex-basis: 1;
  margin: 0;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: clip;
}
button.selected {
  background: var(--textcolor);
  color: var(--backgroundcolor);
  border: 2px solid var(--textcolor);
}
button.unselected {
  background: var(--backgroundcolor);
  color: var(--textcolor);
  border: 2px solid var(--textcolor);
}
button.selected:hover, button.unselected:hover {
  background: var(--buttonhovercolor);
  color: var(--backgroundcolor);
  border: 2px solid var(--buttonhovercolor);
}
.index {
  position: fixed;
  top: 0;
  width: calc(var(--sidemargin) - 2em);
  padding: 0 1em;
}
.index a {
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: var(--textsmall);
  line-height: 1.5em;
  padding-left: 2em;
}
.index div {
  padding-left: 1em;
}
.small-text {
  font-size: var(--textsmall);
}